<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121043285992-idvoks7da411cnl23pot88k973iuibqt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121043285992-idvoks7da411cnl23pot88k973iuibqt</string>
	<key>API_KEY</key>
	<string>AIzaSyCSvNo7HxUPjig0X6Ju5ZlmuOqr6o-wa9M</string>
	<key>GCM_SENDER_ID</key>
	<string>121043285992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.convivalapp</string>
	<key>PROJECT_ID</key>
	<string>convival-application</string>
	<key>STORAGE_BUCKET</key>
	<string>convival-application.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121043285992:ios:3aacf997372b8eb244d65d</string>
</dict>
</plist>